* {
    margin: 0px;
    padding: 0px;
}

.nav {
    background-color: burlywood;
    height: 70px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    color: white;
    text-transform: uppercase;
    padding: 15px 12px;
    list-style: none;
    width: 70px;
    height: 20px;
    cursor: pointer;
    transition: 0.7s;
    background-color: blue;
    margin: 0 20px;
}

.nav li:hover {
    background-color: darksalmon;
    box-shadow: 0 0 0 2px orangered, 0 0 0 2px orangered;
}