* {
    margin: 0px;
    padding: 0px;
}

.nav {
    background-color: darkviolet;
    color: white;
    font-size: 18px;
    font-weight: 100;
    justify-content: left;
    width: 100%;
    height: 60px;
    padding: 20px 18px;
}

.nav a {
    color: black;
    font-weight: bolder;
    font-size: 20px;
    padding: 18px 18px;
}

.nav a:hover {
    background-color: chartreuse;
}

.nav a .active {
    color: brown;
}