* {
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header {
    background-color: darkgoldenrod;
    height: 100px;
    width: 100%;
    color: white;
}

.navbar {
    background-color: darkblue;
    width: 100%;
    height: 110px;
}

.navbar a {
    color: white;
    float: right;
    justify-content: space-between;
    cursor: pointer;
    padding-right: 20px;
}

.navbar a:hover {
    background-color: darkorange;
    color: white;
}