* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 50%);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

li {
    padding: 30px;
    margin: 50px;
}

li a {
    color: burlywood;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}

li a:hover {
    mask-border: 1px solid red;
    color: blanchedalmond;
    border: 3px solid chartreuse;
    border-style: groove;
    border-radius: 30px;
    width: 100%;
}