* {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.nav {
    background-color: black;
    font-size: large;
    font-weight: bolder;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 60px;
    text-align: center;
    float: left;
}

.nav a {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px 18px;
}

.nav a:hover {
    background-color: orangered;
}

.nav a:active {
    background-color: purple;
}