* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    color: white;
    font-size: 30px;
}

.nav a {
    position: relative;
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: block;
    transform: skewX(-30deg);
    align-items: center;
    width: 20%;
    text-decoration: none;
    list-style: none;
}

.nav a:hover {
    background-color: chartreuse;
    color: black;
}